body {
  background-color: #daf6ff;
}

.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  outline: none;
}

.slider:hover {
  opacity: 1;
}

.body-row {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
}

#color-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-gap: 0; /* No gap between grid items */
}

.child {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  background-color: gray; /* Default background color */
}

.color-row {
  display: flex;
  align-items: center; /* Align items vertically */
}

.copy-button {
  height: 20px;
  padding: 0;
}

.copy-button img {
  width: 100%; /* Make the image width fill the button */
  height: 100%; /* Make the image height fill the button */
}

#primary-color:focus {
  outline: none; /* Remove the default outline */
}
