body {
  background-color: #061738;
}

.input-field {
  color: whitesmoke;
}

#color-container {
  border: 1px solid whitesmoke;
}

.slider {
  border: 1px solid whitesmoke;
}

.color-field {
  border-color: whitesmoke;
  color: whitesmoke;
  background-color: #061738;
}

#color-type {
  border-color: whitesmoke;
  color: whitesmoke;
  background-color: #061738;
}

.copy-button {
  background-color: lightgray;
}

.copy-button img {
  background-color: lightgray;
}

#theme-button {
  background-color: whitesmoke;
  border-color: lightgray;
}

.color-square {
  border-color: lightgray;
}

.erase {
  border-color: lightgray;
}
